@media screen and (min-width:480px) {
    nav {
        border-width: 1px;
        border-color: black;
        padding-top: 10px;
        padding-left: 10px;
        padding-right:10px;
        padding-bottom:10px;
    }
    section {
        border-width: 1px;
        border-color: black;
        padding-top: 10px;
        padding-left: 10px;
        padding-right:10px;
        padding-bottom:10px;
    }
    aside {
        
    }
    nav>a {
        font-family: sans-serif;
    }
    nav>a:active {
        font-family: sans-serif;
        color: cyan; 
    }
    nav>a:visited {
        font-family: sans-serif;
        color: maroon;
    }
    article {
        padding: 10px; 
        }
    article#info {
        
        }
    p {
        display:block;
        color: red !important;
    }
    p.idomus {
        display:inherit;
    }
    ol>li{
        font-weight: bold;

    }
    nav>a[href*="mif.vu"] {

    }
}